.fundo{
    background: beige url('imagens/fundo.png');
}
.capa{
    border: beige solid;
}
.titulos{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;   
    color: rgb(63, 62, 62);
    margin: 20px;
    text-decoration: none;
}
.paragrafos{
    background-color: rgb(235, 235, 205);
    width: 900px;
}

.subtitulos{
    font-style: oblique;
    font-size: 1,4em;
    color: black;
}
#rodape{
    font-size: 13px;
    color: black;
    font-weight: bolder;
    text-align: center;
}
.fotos{
    border: 10px outset;
    color: #9f7743;
    width: min-content;
}